body{
  font-family: "Roboto Slab", serif;
}

/* Navbar */
#spin {
  color: #7510f7;
}
.social {
  font-size: 1.4rem;
}
/* Button */
.btn-outline-primary {
  border-color: #7510f7 !important;
  color: #7510f7;
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
  background-color: #7510f7 !important;
  border-color: #7510f7 !important;
}
/* Section intro */
.intro {
  color: #141c3a;
  height: 41em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px;
}
.container-intro {
  grid-column: 1;
  grid-row: 1;
}
.hr-intro {
  margin-left: 9em;
  margin-right: 9em;
  border-color: #7510f7!important;
    border-top-color: #7510f7 !important;
    border-right-color: #7510f7 !important;
    border-bottom-color: #7510f7 !important;
    border-left-color: #7510f7 !important;
}
#accs {
  grid-column: 1;
  grid-row: 2;
}
#name {
  font-family: "Fira Code", monospace;
}

/* Section Profile */
.profile {
  color: #ffffff;
  background: #7510f7;
  height: 43em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
}
.container-profile {
  grid-column: 1;
  grid-row: 1;
  margin-top: 4em;
  width: 69%;
}
.profile-title {
  font-family: "Fira Code", monospace;
  font-weight: 900;
}
.description {
  font-size: large;
}
.btn-outline-light:hover{
  color:#7510f7!important;
}

.resume{
  font-size: large;
  font-weight: 500;
}

/* Media Query */
@media only screen and (max-width: 600px) {
  #accesories {
    width: 100%;
    height: fit-content;
  }
  .hr-intro {
    margin-left: 0;
    margin-right: 0;
  }
  .container-profile{
    width: 100%
  }
}
