/* Navbar */
#spin {
  color: #7510f7;
}
.social{
  font-size: 1.40rem;
}
/* Button */
.btn-outline-primary {
  border-color: #7510f7 !important;
  color: #7510f7 
}
.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:visited,
.btn-outline-primary:focus {
  background-color: #7510f7 !important;
  border-color: #7510f7 !important;
}
/* Section intro */
.intro{
  height:41em;
display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
}
.container-intro{
  grid-column: 2;
  grid-row: 2;
}